<div class="bg-red-800 h-fit w-screen grid grid-cols-3 place-items-center ">
    <div class="py-1 md:p-2 lg:px-16 md:grid md:grid-cols-3 md:justify-items-stretch">
        <div *ngFor="let coord of coords" class="flex flex-col justify-center">
                <img class="place-self-center" src={{coord.icon}} [style]='coord.style'>
                <a class='text-white text-xs h-full w-full text-center sm:text-lg sm:font-bold  hover:translate-y-2 hover:font-extrabold transition' href={{coord.link}}>{{coord.title}}</a>
        </div>
    </div>
    <div class="flex flex-col items-center justify-center p-2">
        <h1 class="md:text-6xl text-3xl py-1 text-white whitespace-nowrap">Tuncay Bilgi</h1>
        <h2 class=" text-sm md:text-3xl lg:text-4xl sm:text-xl text-zinc-800 whitespace-nowrap m-2">Etudiant Ingénieur DevOps</h2>
    </div>
</div>