<div class="bg-sky-800 h-full w-screen grid grid-cols-3 place-items-center ">
    <div>
        <div class="flex flex-row justify-start p-2 md:text-lg text-sm" *ngFor="let coord of coords">
            <p class="px-1">{{coord.icon}}</p>
            <div class=''>{{coord.title}}</div>
        </div>
    </div>
    <div class="flex flex-col items-center p-2">
        <h1 class="md:text-6xl text-3xl py-1 text-white whitespace-nowrap">Tuncay Bilgi</h1>
        <h2 class="md:text-3xl lg:text-4xl sm:text-xl text-gray-800 whitespace-nowrap m-2">Etudiant Ingénieur DevOps</h2>
    </div>
</div>